@page "/"
@using Microsoft.AspNetCore.Components
<h1>Vorhersage</h1>

<ErrorBoundary></ErrorBoundary>

<button @onclick="@PickFile">History Datei wählen</button>
<label>Issues:</label><input type="number" @bind="@_viewModel.Incidents"/>
<label>Simulationen:</label><input type="number" @bind="@_viewModel.Simulations" />
<p>Gewählte Datei: @_viewModel.HistoryFile</p>

<button @onclick="@ChartAnzeigen" disabled="@string.IsNullOrWhiteSpace(_viewModel.HistoryFile)">Auswertung erstellen</button>
    
@if (_viewModel.ChartVisible)
{
    <VorhersageChart Id="vorhersage1" BarData="@_viewModel.ChartData.BarData" LineData="@_viewModel.ChartData.LineData" Labels="@_viewModel.ChartData.Labels"></VorhersageChart>
}
